body {
    background-color: #30323D;
    color: white;
    font-family: FiraCodeRegular;
}

h1 {
    font-size: 34px;
    font-weight: bold;
    font-family: FiraCodeBold;
    color: white;
}

#AccueilTitle div {
    display: block;
}

#AccueilTitle a {
    background-color: #5C80BC;
    border: 2px solid #4D5061;
    border-radius: 20px;
    padding: 4%;
    color: white;
    text-decoration: none;
    margin-bottom: 4%;
}

#AccueilTitle a:hover {
    background-color:#222536;
    border: 2px solid #5C80BC;
    transition: background-color 0.3s;
}

#AccueilTitle {
    width: fit-content;
    height: fit-content;
    display: flex;
    border: none;
}

/*background-color: #10111b;*/

#AccueilTitle img {
    width: 180px;
    height: 180px;
    margin-right: 1%;
    border-radius: 20px;
}


#intro {
    background-color: #5C80BC;
    padding:1%;
}

figure {
    background-color: #4D5061;
    border-radius: 20px;
    padding:2%;
    padding-top:0.1%;
    padding-left: 2%;
    margin: 1%;
    margin-top: 3%;
    line-height: 140%;
}

div {
    display: block;
}

a {
    transition: background-color 0.3s;
    margin-right: 2%;
    background-color: #5C80BC;
    border: 2px solid #4D5061;
    border-radius: 20px;
    padding: 1%;
    color: white;
    text-decoration: none;
    margin-bottom: 4%;
}

a:hover {
    background-color:#222536;
    border: 2px solid #5C80BC;
    transition: background-color 0.3s;
}


/*PAGE PROJET*/
#projetFieldset {
    display: flex;
    border: none;
    margin-left: 0%;
}

.projets {
    width: 28%;
    height: auto;
    margin: 1% 2% 1% 0.5%;
    
}

.projets h1 {
    font-size: 2vw;
    line-height: 130%;
}

.projets img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.projets a {
    transition: background-color 0.3s;
    background-color: #5C80BC;
    border: 2px solid #4D5061;
    border-radius: 20px;
    padding: 4%;
    color: white;
    text-decoration: none;
    margin-bottom: 4%;
}

.projets a:hover {
    background-color:#222536;
    border: 2px solid #5C80BC;
    transition: background-color 0.3s;
}
@font-face {
    font-family: FiraCodeRegular;
    src: url(../ttf/FiraCode-Regular.ttf);
}

@font-face {
    font-family: FiraCodeBold;
    src: url(../ttf/FiraCode-Bold.ttf);
    font-weight: bold;
}